@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'El Messiri', sans-serif;
  background-color: #cfec00;
  margin: 0;
  padding: 0;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin: 0px;;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.toggle-button .bar{
  display: block;
  height: 0.24rem;
  width: 100%;
  background-color: #435ba1;
  border-radius: 0.7rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggle-button span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button.open span:nth-child(1) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 0px;
  left: 8px;
  width: 90%;
}

.toggle-button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.toggle-button.open span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  top: 21px;
  left: 8px;
  width: 90%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #435ba1;
}

.brand__title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 600;
}

.nav__navigation{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.nav__navigation.open{
  display: block;
  visibility: visible;
  opacity: 1;
  animation: fade 2s;
}

.nav.open{
  
}


@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.nav__list{
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav__item{
  list-style: none;
  display: block;
}

.nav__link{
  color: steelblue;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: 700;
  padding: 1rem 1rem;
  line-height: 2.5rem;
  display: block;
  position: relative;
}

.nav__link:hover::after {
  width:100%;
  left: 0;
}

.nav__link::after {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 0.3rem;
  right: 0;
  position: absolute;
  background: #cfec00;
  transition: width 1s ease 0.1s, right 0.5s ease 0s;
  width: 0;
}

.nav__link:hover{
  color: #b7ce0d;
  transition: color 0.3s ease-in-out;
}

/* Inicio Page */
.background__image{
  height: 100vh;
  background-image: linear-gradient(#24252580, #b380136c), url('/images/fondo.jpg');
  background-size: cover;
  background-position: center;
}

.title__inicio{
  color: whitesmoke;
  text-align: center;
  padding-top: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 2;
  letter-spacing: 0.2rem;
}

/* Footer */
.footer{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "logo card";
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #435ba1;
}

.footer__logo{
  color: white;
  grid-area: logo;
}

.footer__card{
  grid-area: card;
}

.card{
  background-color: white;
  width: 90%;
  margin: 4rem auto;
  box-shadow: 0.6rem 0.6rem 0.8rem;
  border-radius: 1em;
  letter-spacing: 0.1rem;
}

.card-container{
  border-radius: 0 0 1em 1em;
  padding: 2rem 1.8rem 0.1rem;
  text-align: center;
}

.card-title{
  text-align: left;
  margin-bottom: 0.7rem;
  color: #435ba1;
  font-weight: bolder;
  font-size: 1.2rem;
}

.card-paragraph{
  line-height: 1.5;
  text-align: start;
}

.card-fono{
  display: flex;
  text-decoration: none;
  font-weight:bolder;
  font-size: 1.3rem;
  text-align: left;
  align-items: center;
  letter-spacing: 0.13rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  color: #435ba1;
}

.card-fono:hover{
  color: #b7ce0d;
  transition: color 0.3s ease-in-out;
}

.card-fono-number{
  display: block;
  margin-left: 1rem;
  margin-top: 0.6rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.01rem solid white;
  line-height: 0.1rem;
}

.card-paragraph-final {
  margin-top: 0.4rem;
}

.card-como-llegar-link{
  display: flex;
  text-decoration: none;
  font-weight: bolder;
  text-align: left;
  align-items: center;
  letter-spacing: 0.13rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.card-como-llegar-link:hover .card-icon-como-llegar{
  color: #b7ce0d;
  transition: color 0.3s ease-in-out;
}

.card-como-llegar-paragraph{
  margin-top: 0.3rem;
  display: block;
  margin-left: 0.5rem;
}

.card-map{
  width: 100%;
  display: block;
  border-radius: 1em 1em 0 0;
  text-align: center;
  margin-top: -0.7rem;
}

.map{
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 25rem;
  width: 90%;
  border: 0;
  border-radius: 0.5em;
}

.card__logo{
  width: 90%;
  margin: 4rem auto;
  letter-spacing: 0.1rem;
}

.content__img__logo{
  display: flex;
}

.img__logo{
  width: 12rem;
  height: 12rem;
  margin: 1rem auto;
  object-fit: contain;
  border-radius: 6rem;
}

.logo-reserva{
  display: flex;
  text-decoration: none;
  font-weight:bolder;
  font-size: 1rem;
  text-align: left;
  align-items: center;
  letter-spacing: 0.13rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  max-width: fit-content;
  color: white;
}

.logo-reserva:hover .card-logo-icon-reserva{
  color: #b7ce0d;
  transition: color 0.3s ease-in-out;
}


@media screen and (max-width: 800px) {
  body{
    background-color: rgba(231, 88, 45, 0.877);
  }

  .toggle-button {
    display: flex;
  }

  .nav__navigation {
    display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    width: 100%;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__list{
    width: 100%;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .title__inicio{
    font-size: 1.5rem;
  }

  .footer{
    grid-template-columns: repeat(1, 100%);
    background-color: #435ba1;
    grid-template-areas: 
    "logo" 
    "card";

    padding-left: 0rem;
    padding-right: 0rem;
  }

  .card{
    width: 90%;
    margin: 2rem auto;
  }

  .card__logo{
    width: 90%;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 800px) {
  .title__inicio{
    font-size: 3rem;
  }
}