@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

:root{
  --color-principal: #00b495;
  --color-principal-transparente: #00b4967e;
  --color-principal-transparent: #00b49696;
  --color-secundario: #435ba1;
  --color-third: #4dffe1ef;
  --color-fourth: #2a438f;
  --colo-black: #21272a;
}

*{
  margin: 0;
  box-sizing: border-box;
}

/* Animación con keyframe llamada "latidos" */
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.4); }
  to { transform: none; }
}

:root {
  scrollbar-color: var(--color-principal) var(--color-third);
  scrollbar-width: thin !important;
}
:root::-webkit-scrollbar {
  width: 8px;
}

:root::-webkit-scrollbar-track {
  background-color: var(--color-third);
}

:root::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--color-principal);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  font-family: 'El Messiri', sans-serif;
  background-color: var(--color-principal);
  margin: 0;
  padding: 0;
  position: absolute;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  /* width: auto;
  margin: 0 auto; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

.content__hamburguer{
  display: none;
}

.toggle-button {
  /* position: absolute; */
  /* top: 2rem; */
  /* left: 2rem; */
  margin-top: 2rem;
  margin-left: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin: 0px;;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.toggle-button .bar{
  display: block;
  height: 0.24rem;
  width: 100%;
  background-color: var(--color-principal);
  border-radius: 0.7rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggle-button span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button.open span:nth-child(1) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 0px;
  left: 8px;
  width: 90%;
}

.toggle-button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.toggle-button.open span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  top: 21px;
  left: 8px;
  width: 90%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: var(--color-secundario);
  position: relative;
  /* height: 100px; */
}

.brand__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.brand__title__link {
  /* color: var(--color-principal); */
  /* text-decoration: none; */
  /* letter-spacing: 4px; */
  /* font-weight: 700; */
  /* padding: 1rem 2rem; */
  /* line-height: 2rem; */
  /* display: block; */
  /* position: relative; */
}

.brand__logo {
  object-fit: fill;
  width: 120px;
}

.brand__icons{
  display: none;
  align-items: center;
  justify-content: center;
}

.nav__navigation{
  padding-right: 2rem;
}

.nav__navigation.open{
  display: block;
  animation: fade 1.2s;
  width: 85%;
  background: #ffffff;
  z-index: 10;
  top: 105px;
}

.nav.open{
  
}


@keyframes fade {
  0% {
    top: 75px;
    display: none;
  }

  100% {
    top: 105px;
    display: block;
  }
}

.nav__list{
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav__item{
  font-size: 1rem;
  list-style: none;
  display: flex;
}

.nav__link{
  color: var(--color-principal);
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 1rem 1.5rem;
  line-height: 2rem;
  display: block;
  position: relative;
}

.nav__link:hover::after {
  width:100%;
  left: 0;
}

.nav__link::after {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 0.3rem;
  right: 0;
  position: absolute;
  background: var(--color-principal);
  transition: width 1s ease 0.1s, right 0.5s ease 0s;
  width: 0;
}

.nav__link:hover{
  color: var(--color-principal);
  transition: color 0.3s ease-in-out;
}

/* Inicio Page */
.inicio__carousel{
  width: 99.5vw;
}

.carousel-caption {
  position: absolute;
  right: 40% !important;
  bottom: -1rem !important;
  left: 0 !important;
  padding-bottom: 1.3rem !important;
}

.carousel__image{
  height: 60vh;
  width: 100%;
  display: block;
}

.carousel__content{
  background-color: var(--color-principal-transparent);
  color: white;
  display: block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 700;
  text-align: left;
}

.carousel__text{
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  letter-spacing: 1.5px;
}

.carousel__link{
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--color-principal);
  color: white;
  text-decoration: none;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 5px 3px;
  transition: all 0.4s linear 0.1s;
}

.carousel__link__text__desktop {
  margin: 0;
}

.carousel__link__text__mobile{
  display: none;
  margin: 0;
}

.carousel__link:hover{
  background-color: white;
  color: var(--color-principal);
}

.content__reserva{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.info__especialidades{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.info__especialidades__paragraph{
  color: var(--color-principal);
  font-size: 2rem;
  padding-top: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 700;
  /* text-shadow: 2px 2px 1px #00000062, 3px 3px 1px #00000062; */
}

.content__especialidades {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.card__especialidades {
  background-color: white;
  width: 90%;
  margin: 1rem auto;
  box-shadow: 5px 2px 2px var(--color-principal);
  border: 1px solid var(--color-principal);
  border-radius: 0.5em;
  letter-spacing: 0.1rem;
  display: flex;
  transition: 0.8s;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.info__card__especialidades{
  color: var(--color-principal);
  text-decoration: none;
  padding: 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: left;
  align-items: center;
  letter-spacing: 2px;
  width: 100%;
}

.info__card__especialidades__icon{
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  font-size: 1.7rem;
  /* animation: latidos 1.7s infinite; */
	transform-origin: center;
}

.cls-1{
  fill:none;stroke:#00b495;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;
}

.st0{fill:#00b495;}

.card__especialidades:hover .info__card__especialidades{
  color: var(--color-principal);
}

.info__principal{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  background-color: white;
  padding-bottom: 0.8rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.2rem;
  letter-spacing: 0.15rem;
}

.card__info{
  background-color: white;
  display: block;
  text-align: center;
}

.card__info__img{
  display: inline-flex;
}

.img__info{
  width: 8rem;
  height: 6.5rem;
  margin: 1rem auto;
  object-fit: contain;
}

.card__info__title{
  font-size: 1.6rem;
  color: var(--color-secundario);
}

.card__info__paragraph{
  overflow-wrap: break-word;
}

.card__info__link{
  display: flex;
}

.info__doc{
  display: grid;
  grid-template-columns: 60% 40%;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(white, #435ba1);
}

.info__doc__texto{
  letter-spacing: 0.15rem;
}

.info__doc__texto__principal{
  font-size: xx-large;
  color: var(--color-secundario);
  font-weight: 900;
  padding-left: 8rem;
  padding-right: 8rem;
}

.info__doc__texto__secundario{
  font-size: large;
  color: #202020;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.info__doc__texto__footer{
  display: grid;
  grid-template-columns: 70% 30%;
  padding-left: 11rem;
  padding-right: 11rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.info__doc__texto__footer__link{
  color: white;
  text-decoration: none;
  font-weight: 900;
  padding: 1rem 1rem;
  border: 2px solid var(--color-secundario);
  border-radius: 2rem;
  transition: 0.8s;
}

.info__doc__texto__footer__link:hover{
  color: white;
  background-color: var(--color-principal);
  border-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.info__doc__texto__footer__doctor{
  margin-top: -1rem;
}

.info__doc__texto__footer__doctor__nombre{
  color: white;
  font-weight: 900;
}

.info__doc__texto__footer__doctor__especialidad{
  color: white;
  font-weight: 400;
}

.info__doc__image__content{
  padding-top: 1.2rem;
}

.info__doc__image{
  border-radius: 1.5rem;
  width: 30rem;
  height: 27rem;
}

.info__mision{
  height: auto;
  background-image: url('/images/fondo_mision.svg');
  background-size: cover;
  background-position: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.info__mision__paragraph{
  color: white;
  font-size: 2.5rem;
  padding-top: 1rem;
  text-align: center;
  padding-left: 9rem;
  padding-right: 9rem;
  letter-spacing: 0.2rem;
}

.info__mision__servicios{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding-left: 3rem;
  padding-right: 3rem;
}

.info__mision__card{
  background-color: white;
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0.2rem 0.2rem 0.6rem;
  border-radius: 0.5em;
  letter-spacing: 0.1rem;
  display: flex;
  transition: 0.8s;
  text-decoration: none;
}

.info__mision__card__link{
  color: var(--color-secundario);
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
}

.info__mision__card__icon{
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  font-size: 1.7rem;
  animation: latidos 1.7s infinite;
	transform-origin: center;
}

.info__mision__card:hover .info__mision__card__icon{
  color: var(--color-principal);
}

.info__mision__card:hover .info__mision__card__link{
  color: white;
}

.info__mision__card:hover{
  background-color: var(--color-secundario);
}

.not__cursor__pointer{
  cursor: default;
}

/* Footer */
/* .footer{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "logo card";
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--color-secundario);
} */
.footer{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--color-principal);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__text{
  color: white;
  padding-left: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2rem;
}

.footer__icons{
  /* align-items: right; */
  text-align: right;
  padding-right: 1rem;
}

.link__icons{
  padding-left: 0.5rem;
}

.footer__logo{
  color: white;
  grid-area: logo;
}

.footer__card{
  grid-area: card;
}

.card{
  background-color: white;
  width: 90%;
  margin: 4rem auto;
  box-shadow: 0.6rem 0.6rem 0.8rem;
  border-radius: 1em;
  letter-spacing: 0.1rem;
}

.card__container{
  border-radius: 0 0 1em 1em;
  padding: 2rem 1.8rem 0.1rem;
  text-align: center;
}

.card__title{
  text-align: left;
  margin-bottom: 0.7rem;
  color: var(--color-principal);
  font-weight: bolder;
  font-size: 1.2rem;
}

.card__paragraph{
  line-height: 1.5;
  text-align: start;
}

.card__fono{
  display: flex;
  text-decoration: none;
  font-weight:bolder;
  font-size: 1.3rem;
  text-align: left;
  align-items: center;
  letter-spacing: 0.13rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  color: var(--color-secundario);
}

.card__fono:hover{
  color: var(--color-principal);
  transition: color 0.3s ease-in-out;
}

.card__fono__icon{
  width: 1.5rem;
}

.card__fono__number{
  display: block;
  margin-left: 1rem;
  margin-top: 0.6rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.01rem solid white;
  line-height: 0.1rem;
}

.card__paragraph__final {
  margin-top: 0.4rem;
}

.card__como__llegar__link{
  display: flex;
  text-decoration: none;
  font-weight: bolder;
  text-align: left;
  align-items: center;
  letter-spacing: 0.13rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  color: var(--color-secundario);
}

.card__como__llegar__link:hover .card__icon__como__llegar{
  color: var(--color-principal);
  transition: color 0.3s ease-in-out;
}

.card__como__llegar__paragraph{
  margin-top: 0.3rem;
  display: block;
  margin-left: 0.5rem;
}

.card__map{
  width: 100%;
  display: block;
  border-radius: 1em 1em 0 0;
  text-align: center;
  margin-top: -0.7rem;
}

.map{
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 25rem;
  width: 90%;
  border: 0;
  border-radius: 0.5em;
}

.card__logo{
  width: 90%;
  margin: 4rem auto;
  letter-spacing: 0.1rem;
}

.content__img__logo{
  display: flex;
}

.img__logo{
  margin: 1rem auto;
  object-fit: contain;
  border-radius: 20rem;
}

.logo__reserva{
  display: flex;
  text-decoration: none;
  font-weight:bolder;
  font-size: 1rem;
  text-align: left;
  align-items: center;
  letter-spacing: 0.13rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  max-width: fit-content;
  color: white;
}

.card__logo__icon__reserva{
  width: 1.5rem;
  height: auto;
}

.logo__reserva:hover .card__logo__icon__reserva{
  color: var(--color-principal);
  transition: color 0.3s ease-in-out;
}

/* Contacto Page */
.page__contacto{
  background-color: #e0e0e0;
}
.content__map{
  width: 100%;
  height: 80vh;
}

.map__contacto{
  width: 100%;
  height: 100vh;
}

.card__contacto{
  position: relative;
  background-color: white;
  width: 40%;
  margin-top: -20rem;
  margin-left: 2rem;
  box-shadow: 0.6rem 0.6rem 0.8rem;
  border-radius: 1em;
  letter-spacing: 0.15rem;
}

.card__contacto__container{
  padding: 1.3rem 2rem 1rem;
  text-align: left;
}

.card__contacto__title{
  color: var(--color-principal);
  font-weight: bolder;
  font-size: 1.2rem;
}

.card__contacto__paragraph{
  padding: 1rem 1rem;
  font-size: 0.9rem;
  color: var(--color-secundario);
  text-align: justify;
  letter-spacing: 0.1rem;
  width: 95%;
}

.contacto__input{
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #e6e8eb;
  color: var(--color-secundario);
  padding: 0 30px;
  line-height: normal;
  height: 60px;
  font-size: 14px;
  transition: all 300ms linear 0ms;
  box-shadow: none;
  width: 90%;
  outline: none;
}

.contacto__input:focus{
  border: 5px solid var(--color-principal);
}

.contacto__textarea{
  margin-top: 1.5rem;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #e6e8eb;
  color: var(--color-secundario);
  padding: 1.2rem 30px;
  line-height: normal;
  height: 7rem;
  font-size: 14px;
  transition: all 300ms linear 0ms;
  box-shadow: none;
  width: 90%;
  outline: none;
  overflow: auto;
  resize: none;
}

.contacto__textarea:focus{
  border: 5px solid var(--color-principal);
}

.content__button__contacto{
  margin-top: 1rem;
}

.contacto__button{
  background-color: var(--color-secundario);
  color: white;
  font-weight: 900;
  padding: 1rem 1rem;
  border: 2px solid white;
  border-radius: 2rem;
  transition: 0.8s;
  width: 90%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacto__button__icon{
  font-size: 1rem;
  padding-right: 0.5rem;
}

.contacto__button:hover{
  color: white;
  background-color: var(--color-principal);
  border-color: var(--color-principal);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

/* Especialidades Page */
.container__especialidades{
  width: 99.5vw;
  /* height: 74.6vh; */
  background-image: url('/images/logos/logo_250x172.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* Nosotros Page */

.container__nosotros{
  width: 99.5vw;
}

.nosotros__slide{
  
}

.nosotros__paragraph{
  font-weight: 400;
  text-align: justify;
}

.content__buttons__nosotros{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.content__buttons__nostros__reserva{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__buttons__nostros__especialidades{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nosotros__image__content{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Antigo nosotros */
.page__nosotros{
  height: auto;
  background-color: #e6e8eb;
}

.page__nosotros__text{
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 25rem;
  padding-right: 25rem;
}

.page__nosotros__title{
  color: var(--color-principal);
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 1rem;
  letter-spacing: 4px;
}

.page__nosotros__paragraph{
  color: var(--color-secundario);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
}

.page__nosotros__team{
  display: grid;
  grid-template-columns: repeat(3, 30%);
  padding-left: 5%;
  padding-right: 5%;
  column-gap: 5%;
  row-gap: 2.5rem;
  padding-bottom: 3rem;
}

.nosotros__team__card{
  background-color: white;
  position: relative;
  border-radius: 0.5em;
  box-shadow: 0.2rem 0.2rem 0.6rem #015c4d;
  letter-spacing: 1px;
  cursor: default;
  height: 105px;
}

.nosotros__team__card:hover .image__team{
  transform: scale(0.9);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.nosotros__team__card:hover .team__card__text{
  margin-top: -4rem;
  background-color: white;
  position: absolute;
}

.nosotros__team__card:hover .team__card__profesion{
  color: var(--color-principal);
}

.image__team{
  width: 100%;
  border-radius: 0.5em 0.5em 0em 0em;
  transition: 1s;
}

.team__card__text{
  height: auto;
  padding: 2rem;
  transition: 1s;
}

.team__card__name{
  color: var(--color-principal);
  font-weight: 900;
  font-size: 1.3rem;
}

.team__card__profesion{
  color: var(--color-secundario);
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.5s;
}

.team__card__description{
  padding-top: 1rem;
  color: var(--color-secundario);
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

@media screen and (max-width:1310px) {
  .page__nosotros__text{
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media screen and (max-width:1380px) {
  .info__doc__texto__footer{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .info__doc__texto__principal{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .info__doc__texto__secundario{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .info__doc__image{
    width: 26rem;
  }

  .info__doc__image__content{
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width:1060px) {
  .info__mision{
    height: auto;
    padding-bottom: 1rem;
  }
  .info__mision__paragraph{
    font-size: 1.7rem;
  }
  .info__mision__servicios{
    grid-template-columns: repeat(3, 33%);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .info__doc{
    grid-template-columns: 100%;
  }

  .info__doc__texto__footer__doctor{
    display: none;
  }

  .info__doc__image__content{
    display: none;
  }

  .page__nosotros__text{
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .nosotros__team__card{
    height: 28rem;
  }

  .team__card__text{
    height: 30%;
    padding: 2rem 1.5rem 0;
    transition: 1s;
  }

  .team__card__name{
    font-size: 1rem;
  }

  .team__card__profesion{
    font-size: 0.7rem;
  }

  .team__card__description{
    padding-top: 1rem;
    font-size: 0.7rem;
    text-align: center;
  }

  .nav__navigation{
    padding-right: 0rem;
  }
}

@media screen and (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .nav__navigation {
    display: none;
    top: 0px;
    -webkit-transition: top 600ms, display 600ms;
    transition: top 600ms, display 600ms;
    width: 100%;
  }

  .nav__navigation.open {
    position: absolute;
  }

  .nav {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* flex-direction: row; */
    align-items: flex-start;

    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: white;
    color: var(--color-secundario);
    position: relative;
  }

  .content__hamburguer{
    display: flex;
    padding-left: 2rem;
    height: 100%;
    align-items: center;
  }

  .brand__title {
    padding: 0rem;
  }

  .brand__logo {
    object-fit: fill;
    width: 160px;
  }

  .brand__icons{
    display: flex;
    height: 100%;
  }

  .nav__list{
    width: 100%;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .footer{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .card{
    width: 90%;
    margin: 2rem auto;
  }

  .card__logo{
    width: 90%;
    margin: 2rem auto;
  }

  .info__principal{
    grid-template-columns: repeat(2, 50%);
  }

  .info__doc{
    grid-template-columns: 100%;
  }

  .info__doc__texto__principal{
    font-size: x-large;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .info__doc__texto__secundario{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .info__doc__texto__footer{
    grid-template-columns: 100%;
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .info__doc__texto__footer__doctor{
    margin-top: 5rem;
  }

  .info__doc__image__content{
    margin-top: -3rem;
    text-align: center;
    padding-bottom: 3rem;
  }

  .info__doc__image{
    width: 23rem;
  }

  .info__mision{
    height: auto;
    padding-bottom: 1rem;
  }
  .info__mision__paragraph{
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .info__mision__servicios{
    grid-template-columns: repeat(2, 50%);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .info__mision__card{
    margin: 1rem auto;
  }

  .info__mision__card__link{
    font-size: 0.7rem;
  }

  .info__mision__card__icon{
    font-size: 1rem;
  }

  .map__contacto{
    height: 80vh;
  }

  .card__contacto{
    margin-top: -10rem;
    width: 70%;
  }

  .page__nosotros__title{
    font-size: 1.2rem;
  }
  .page__nosotros__paragraph{
    font-size: 0.8rem;
  }

  .page__nosotros__team{
    grid-template-columns: repeat(2, 47%);
  }
}

@media screen and (max-width: 673px) {
  .content__buttons__nosotros{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
    padding-top: 1rem;
  }

  .content__buttons__nostros__reserva{
    padding-bottom: 1rem;
  }

  .content__buttons__nostros__especialidades{
    padding-top: 1rem;
  }

  .boton__reserva__desktop{
    max-width: none !important;
    width: 350px;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .page__nosotros__text{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 550px) {
  .info__principal{
    grid-template-columns: repeat(1, 100%);
  }

  .page__nosotros__text{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .img__info{
    width: 5rem;
    height: 3.5rem;
  }
  .card__info__title{
    font-size: 1rem;
  }
  .card__info__paragraph{
    font-size: 0.9rem;
  }

  .info__doc__texto__footer__doctor{
    display: block;
  }

  .info__doc__image__content{
    display: flex;
  }

  .card__contacto{
    margin-top: -6rem;
    width: 80%;
  }

  .card__contacto__paragraph{
    width: 100%;
    font-size: 0.8rem;
  }

  .contacto__input{
    width: 100%;
  }
  .contacto__textarea{
    width: 100%;
    height: 11rem;
  }

  .contacto__button{
    width: 100%;
  }

  .page__nosotros__team{
    grid-template-columns: repeat(1, 98%);
    padding-left: 8%;
    padding-right: 8%;
  }

  .carousel__image{
    height: 65vh;
    object-fit: cover;
  }
  .carousel__link{
    background-color: white;
    color: var(--color-principal);
  }

  .carousel__link__text__desktop {
    display: none;
  }
  .carousel__link__text__mobile{
    display: block;
  }

  .content__especialidades {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .info__doc__texto__footer{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .info__doc__texto__footer__link{
    font-size: medium;
  }

  .info__doc__image{
    width: 19rem;
  }
}

@media screen and (max-width: 381px) {
  .info__doc__texto__footer__link{
    font-size: small;
  }

  .info__doc__image{
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .card__contacto{
    margin-top: -6rem;
    width: 90%;
    margin-left: 1rem;
  }

  .card__contacto__title{
    font-size: 0.9rem;
  }

  .card__contacto__paragraph{
    font-size: 0.8rem;
    text-align: left;
  }

  .nav__item{
    font-size: 0.8rem;
  }

  .nav__link{
    padding: 1rem 1rem;
  }
}