*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',sans-serif;
  background-color: #cfec00;
  margin: 0;
  padding: 0;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin: 0px;;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.toggle-button .bar{
  display: block;
  height: 0.24rem;
  width: 100%;
  background-color: #435ba1;
  border-radius: 0.7rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggle-button span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggle-button.open span:nth-child(1) {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 0px;
  left: 8px;
  width: 90%;
}

.toggle-button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.toggle-button.open span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  top: 21px;
  left: 8px;
  width: 90%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #435ba1;
}

.brand__title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 600;
}

.nav__navigation{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.nav__navigation.open{
  display: block;
  visibility: visible;
  opacity: 1;
  animation: fade 2s;
}

.nav.open{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid #1b1b1b;

  box-shadow: 10px 10px 15px #1b1b1b;
}


@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.nav__list{
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav__item{
  list-style: none;
  display: block;
}

.nav__link{
  color: steelblue;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: 700;
  padding: 1rem 1rem;
  line-height: 2.5rem;
  display: block;
  position: relative;
}

.nav__link:hover::after {
  width:100%;
  left: 0;
}

.nav__link::after {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 0.3rem;
  right: 0;
  position: absolute;
  background: #cfec00;
  transition: width 1s ease 0.1s, right 0.5s ease 0s;
  width: 0;
}

.nav__link:hover{
  color: #b7ce0d;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  body{
    background-color: rgba(231, 88, 45, 0.877);
  }

  .toggle-button {
    display: flex;
  }

  .nav__navigation {
    display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    width: 100%;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__list{
    width: 100%;
    flex-direction: column;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .nav.open{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    box-shadow: none;
  }
}

.background__image{
  height: 100vh;
  background-image: linear-gradient(#24252580, #b380136c), url('../public/images/fondo.jpg');
  background-size: cover;
  background-position: center;
}