/* Medicina General */
.especialidad__content{
  padding: 2rem 16rem;
  color: var(--color-black);
  letter-spacing: 2px;
}

.especialidad__image__medica{
  width: 100%;
  height: auto;
  object-fit: fill;
}

.especialidad__title{
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  color: var(--color-principal);
  font-weight: 700;
}

.especialidad__paragraph{
  font-weight: 400;
}

.especialidad__title__list{
  color: var(--color-principal);
  font-weight: 500;
}

.especialidad__list{
  list-style: none;
}

.list__style{
  color: var(--color-principal);
  font-weight: 900;
  letter-spacing: -4px;
}

.especialidad__list__detail{
  padding-left: 0.5rem;
}

.content__reserva__mobile {
  background-color: var(--color-principal);
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding-top: 8px;
  width: 100%;
  height: 68px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

.boton__reserva__mobile{
  display: flex;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1rem;
  text-align: left;
  align-items: center;
  letter-spacing: 0.13rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  max-width: fit-content;
  background-color: white;
  color: var(--color-principal);
  padding: 0.5rem 2rem;
  border-radius: 1.4rem;
}

@media screen and (max-width: 426px) {
  .especialidad__content{
    padding: 2rem;
  }

  .especialidad__image__medica{
    width: 100%;
    height: 30vh;
  }

  .especialidad__list{
    padding-left: 1rem;
  }
}

@media screen and (max-width: 325px) {
  .especialidad__content{
    padding: 1rem;
  }

  .especialidad__title{
    font-size: 1.5rem;
  }
}

